* {
  box-sizing: border-box;
  margin: 10px 10px;
}

.container {
  display: grid;
  min-height: 1000px;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 5px;
  background-image: linear-gradient(pink, tan, pink);
}

nav {
  grid-row: 1 / 2;
  row-gap: 5px;
  background-color: rgb(233, 234, 149);
}

.flexNav {
  display: flex;
  flex-flow: row wrap;
}

#donutClicker {
  grid-row: 2 / 3;
  row-gap: 5px;
  background-color: rgb(255, 192, 233);
  text-align: center;
}

#autoClicker {
  grid-row: 4 / 5;
  row-gap: 10px 10px;
  background-color: rgb(255, 192, 233);
  text-align: center;
  color: white;
}

.donut {
  grid-row: 3 / 4;
  text-align: center;
}

#donutLine {
  max-width: 50%;
  max-height: 10%;
}
