* {
  box-sizing: border-box;
  margin: 10px 10px;
}

.container {
  display: grid;
  min-height: 1000px;
  grid-template-columns: 100%;
  grid-template-rows: 10% 30% 30% 30%;
  gap: 5px;
}

header {
  grid-row: 1 / 2;
  row-gap: 5px;
}

.nav {
  position: relative;
}

.dropdown {
  position: relative;
  list-style: none;
  display: block;
}

.dropdownBar {
  position: absolute;
  list-style: none;
  visibility: hidden;
  display: contents;
}

.dropdown:hover .dropdownBar {
  visibility: visible;
  display: block;
}

#donutClicker {
  grid-row: 2 / 3;
  row-gap: 5px;
}

#autoClicker {
  grid-row: 4 / 5;
  row-gap: 10px 10px;
}

.donut {
  grid-row: 3 / 4;
}

#donutClicker,
#autoClicker,
.donut {
  text-align: center;
}

#donutLine {
  max-width: 50%;
  max-height: 10%;
}

.clickersOwned {
  padding-bottom: 10px;
}

#autoButton {
  width: 200px;
  height: 50px;
}

#clicker {
  width: 200px;
  height: 50px;
}

#autoButton,
#clicker {
  border-radius: 12px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: tan;
}

.modalInfo {
  background-color: pink;
  margin: 15% auto;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.modalInfo ul {
  padding-left: 0;
  text-align: center;
  list-style: none;
}
